<h1>Editing team_game</h1>

<% form_tag :action => 'update', :id => @team_game do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @team_game %> |
<%= link_to 'Back', :action => 'list' %>
