<div class="yui-u first">
  <h1>New game</h1>

<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
</div> <!-- .yui-u .first -->